# .github/workflows/basic.yml
name: Maven Build

on:
  push:
    branches: [ main ]

jobs:
  app_build:
    runs-on: ubuntu-latest

    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          
      - name: mvn install
        run: apt install maven

      - name: mvn build
        run: mvn clean package
